%link{:href => "https://fonts.googleapis.com/css?family=Sigmar+One", :rel => "stylesheet", :type => "text/css"}/
.page
  %h1.scale_title Scalomatic!
  %p.chooser Need help with a scale or mode? Chose your root note, then the scale or mode below:
